/* Imported Typeface Files */

@font-face {
    font-family:Lato;
    src: url(../fonts/lato-regular.ttf);
    font-style:normal;
    font-weight:normal;
}
@font-face {

    font-family:Alfa Slab One;
    src: url(../fonts/alfa-slab-one-regular.ttf);
    font-style:normal;
    font-weight:normal;
}


/* Root */

html {
    font-size:16px;
}


/* Body & Main  */

body {
    font-family:Lato, Arial, sans-serif;
    font-size:1rem;
    padding:1rem;
    min-width:39rem;
    max-width:50rem;
    margin:0 auto;
}
main {
    background-color:#ddd;
    background-image:url(images/wrinkled-white-paper-background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border:1px solid #333;
}

/* ------ START WRITING YOUR CODE BELOW THIS LINE ------ */

/* NO changes should be made to any of the code above. */

/* The first heading style rule has been completed for you. Examine it carefully
   to get an idea of some of the style properties you will need to use; then
   complete the style code according to the instructions in Canvas. */

/* NOTE: While you will be using some of the same CSS properties, the VALUES 
   may need to be different in order to style the page correctly. */


/* Headings  */

h1, h2, h3, h4, h5 {
    text-transform: uppercase;    
    margin: 0;
    color:darkred;
    text-shadow:.09375rem .09375rem .09375rem #000;
    font-family:'Alfa Slab One', Garamond, serif;
    text-align:center;
}

h1{
    font-size:6rem;
    letter-spacing: .5rem;
}

h2{
    font-size:3rem;
    letter-spacing: 0.25rem;
    font-weight: normal;
}

h3{
    font-size: 2rem;
    font-weight: normal;
    color: #000;
}

h4{
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    font-weight: normal;
    padding: 0rem 0rem 1.125rem 0rem;
}

h5{
    font-size: 1rem;
    font-weight: normal;
    color: #fff;
    background-color: #333;
    margin: 0.25rem 0rem 0rem 0rem;
    padding: 0.5rem
}

/* Section & Paragraph */

section{
    margin: 0.5rem 0rem 0rem 0rem;
}

p{
    margin: auto;
    padding: 0rem 1rem;
    width: 90%;
    text-align: left;
}

/* Image & Figure */

img {
    width: 100%;
    margin: 0rem, auto;
    max-width: 50rem;
}

h4 > span{
    padding: 0rem 0.5rem 0rem 0.5rem;
}
figure {
    margin: 0rem 0rem 2rem 0rem;
}

figcaption {
    padding: 0.5rem 0rem 0rem 0rem;
    text-align: right;
}

/* Footer */

footer {
    padding: 1rem;
    border-top: 2rem solid #333;
}
